<div>
    <!-- NavPerfil arriba de todo, ocupando el ancho completo -->
    <div class="absolute w-full top-0">
        <app-navperfil></app-navperfil>
    </div>
    <!-- Contenedor principal flex con Tailwind -->
    <div class="flex">
        <!-- Menú lateral -->
        <div class="bg-blue-900 h-screen  duration-300 relative">
            <div class="inline-flex bg-gray-400 p-5  pt-8">
                <h1 class="text-white font-semibold origin-left font-medium text-4xl duration-300">PanelAD</h1>
            </div>
            <ul class="pt-2">
                <li class="flex items-center gap-x-4 cursor-pointer p-2 hover:bg-gray-500 rounded-md">
                    <a routerLink="/home" class="text-2xl block float-left text-white">
                        <p class="text-sm">Hora de entrada</p>
                    </a>
                    <span class="text-base font-medium flex-1 duration-200"></span>
                </li>
                <li class="flex items-center gap-x-4 cursor-pointer p-2 hover:bg-gray-500 rounded-md">
                    <a routerLink="/residentes" class="text-2xl block float-left text-white">
                        <p class="text-sm">Residentes</p>
                    </a>
                    <span class="text-base font-medium flex-1 duration-200"></span>
                </li>
                <li class="flex items-center gap-x-4 cursor-pointer p-2 hover:bg-gray-500 rounded-md">
                    <a routerLink="/departamento" class="text-2xl block float-left text-white">
                        <p class="text-sm">Departamentos</p>
                    </a>
                    <span class="text-base font-medium flex-1 duration-200"></span>
                </li>
            </ul>
        </div>
        <!-- Contenido principal al lado del menú -->
        <div class="flex-1 my-[72px] pl-[1px] bg-slate-200 overflow-y-auto h-screen w-screen">
            <div class="py-16">
                <router-outlet></router-outlet>
            </div>
        </div>
        
    </div>
